* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

.carousel {
  background-color: #F7F7F7;
  height: 100%;
}
.carousel__menu {
  width: 20%;
  height: 100px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  padding-left: 5%;
  padding-top: 2%;
  overflow: hidden;
}
.carousel__menu #firstLine {
  transform: translateY(0px) rotate(0deg);
  transition: 500ms ease-in-out;
}
.carousel__menu #secondLine {
  transform: translate(0px);
  transition: 500ms ease-in-out;
}
.carousel__menu #thirdLine {
  transform: translateY(0px) rotate(0deg);
  transition: 500ms ease-in-out;
}
.carousel__menu-span {
  display: block;
  background-color: #2FA6D1;
  width: 50PX;
  height: 4px;
  margin-bottom: 0.9%;
  border-radius: 20px;
  margin-top: 10px;
}
.carousel__menu-span--second {
  margin-left: -20px;
  width: 60px;
}
.carousel__menu.close {
  display: block;
  width: 20%;
  height: 100px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  z-index: 2;
  padding-left: 5%;
  padding-top: 2%;
  overflow: none;
  overflow: none;
}
.carousel__menu.close #firstLine {
  transform: translateY(14px) rotate(45deg);
  transition: 500ms ease-in-out;
}
.carousel__menu.close #secondLine {
  transform: translate(250px);
  transition: 500ms ease-in-out;
}
.carousel__menu.close #thirdLine {
  transform: translateY(-14px) rotate(-45deg);
  transition: 500ms ease-in-out;
}
.carousel__menuContainer {
  display: block;
  background-color: rgba(24, 24, 24, 0.4431372549);
  width: 100%;
  position: absolute;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}
.carousel__menuContainer.active {
  display: block;
  background-color: rgba(24, 24, 24, 0.4431372549);
  width: 100%;
  height: 800px;
  position: absolute;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}
.carousel__menu-content {
  transform: translateX(-400px);
  transition: all 0.5s ease-in-out;
  background-color: #83cae3;
  width: 400px;
  height: 700px;
  position: absolute;
  z-index: -1;
}
.carousel__menu-content.toggle {
  transform: translateX(0px);
  transition: all 0.5s ease-in-out;
}
.carousel__menuItems {
  margin-top: 150px;
  margin-left: 50px;
}
.carousel__menuItems li {
  transform: translatex(200px);
  transition: 1s ease-out;
}
.carousel__menuItems.toggle {
  margin-top: 150px;
  margin-left: 50px;
}
.carousel__menuItems.toggle a {
  text-decoration: none;
}
.carousel__menuItems.toggle #first {
  transform: translatex(0px);
  transition: 1s ease-out 100ms;
}
.carousel__menuItems.toggle #second {
  transform: translatex(0px);
  transition: 1s ease-out 200ms;
}
.carousel__menuItems.toggle #third {
  transform: translatex(0px);
  transition: 1s ease-out 300ms;
}
.carousel__menuItems.toggle #fourth {
  transform: translatex(0px);
  transition: 1s ease-out 400ms;
}
.carousel__item {
  cursor: pointer;
  color: white;
  font-size: 30px;
  list-style-type: none;
  margin: 20px;
}
.carousel__item--active {
  color: #1c647e;
  font-weight: 700;
}
.carousel__title {
  color: #888888;
  display: block;
  width: 500px;
  margin: auto;
  margin-top: 90px;
  font-size: 45px;
}
.carousel__title--change {
  color: #2FA6D1;
  font-weight: 400;
}
.carousel__direction {
  position: absolute;
}
.carousel__direction img {
  width: 70%;
  z-index: 1;
}
.carousel__direction--left {
  bottom: 40%;
  left: 3%;
}
.carousel__direction--right {
  bottom: 40%;
  left: 90%;
}
.carousel__container {
  height: 590px;
}
.carousel__main {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 75%;
  margin: auto;
  position: relative;
  z-index: 0;
}
.carousel__content {
  margin: auto;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 100px;
  transition: 1000ms ease-in-out;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  gap: 59px;
}
.carousel__element {
  width: 300px;
  height: 350px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0px 24px 24px rgba(136, 136, 136, 0.168627451);
}
.carousel__element-blue {
  background-color: #2FA6D1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 120px;
  position: relative;
}
.carousel__profile {
  width: 35%;
  position: absolute;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  top: 70px;
  border: 4px solid white;
  border-radius: 90px;
}
.carousel__text-content {
  width: 55%;
  margin: auto;
  margin-top: 70px;
  text-align: center;
  color: #888888;
}
.carousel__text-content h3 {
  font-weight: 700;
  font-size: 22px;
}
.carousel button {
  width: 90px;
  height: 40px;
  background-color: #2FA6D1;
  border: none;
  color: white;
  border-radius: 20px;
  margin-top: 30px;
}
.carousel__socialMedia {
  display: grid;
  grid-template-rows: auto auto auto;
  position: relative;
  left: 90%;
  top: 20px;
  gap: 10px;
}
.carousel__socialMedia img {
  width: 6%;
}
.carousel__point-direction {
  width: 200px;
  height: 30px;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 20px;
  margin-top: -20px;
}
.carousel__point {
  display: block;
  background-color: #83cae3;
  width: 40px;
  height: 10px;
  border-radius: 20px;
}
.carousel__point--current {
  background-color: #2FA6D1;
}/*# sourceMappingURL=main.css.map */