
// colors
$primaryColor:#2FA6D1;

$secondColor:#888888;
$colorShadow:#8888882b;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.carousel{
    background-color: #F7F7F7;
    height: 100%;
    &__menu{
        width: 20%;
        height: 100px;
        cursor: pointer;
        position: relative;
        z-index:1 ;
        padding-left: 5%;
        padding-top: 2%;
        overflow: hidden;
        #firstLine{
            transform: translateY(0px) rotate(0deg);
            transition: 500ms ease-in-out;
        }
        #secondLine{
            transform: translate(0px);
            transition: 500ms ease-in-out;
        }
        #thirdLine{
            transform: translateY(0px) rotate(0deg);
            transition: 500ms ease-in-out;
        }
        &-span{
            display:block;
            background-color: $primaryColor;
            width: 50PX;
            height: 4px;
            margin-bottom:0.9%;
            border-radius: 20px;
            margin-top: 10px;
            &--second{
                margin-left: -20px;
                width: 60px;
            }
        }
        
    }
    &__menu.close{
        display: block;
        width: 20%;
        height: 100px;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        z-index: 2;
        padding-left: 5%;
        padding-top: 2%;
        overflow: none;
        overflow: none;
        
        #firstLine{
            transform: translateY(14px) rotate(45deg);
            transition: 500ms ease-in-out;
        }
        #secondLine{
            transform: translate(250px);
            transition: 500ms ease-in-out;
        }
        #thirdLine{
            transform: translateY(-14px) rotate(-45deg);
            transition: 500ms ease-in-out;
        }
    }
    &__menuContainer{
        display: block;
        background-color: #18181871;
        width: 100%;
        position: absolute;
        z-index: 1;
        transition: all 0.5s ease-in-out;
    }
    &__menuContainer.active{
        display: block;
        background-color: #18181871;
        width: 100%;
        height: 800px;
        position: absolute;
        z-index: 1;
        transition: all 0.5s ease-in-out; 
       
    }
    &__menu-content{
        transform:translateX(-400px);
        transition: all 0.5s ease-in-out;
        background-color:lighten($primaryColor,20);
        width: 400px;
        height: 700px;
        position: absolute;
        z-index: -1;
    }
    &__menu-content.toggle{
        transform:translateX(0px);
        transition: all 0.5s ease-in-out;
    }
  
    &__menuItems{
        margin-top: 150px;
        margin-left: 50px;
        li{
            transform: translatex(200px);
            transition: 1s ease-out;
        }

    }
    &__menuItems.toggle{
        margin-top: 150px;
        margin-left: 50px;
        a{
            text-decoration: none;
        }
        #first{
            transform: translatex(0px);
            transition: 1s ease-out 100ms;
            
        }
        #second{
            transform: translatex(0px);
            transition: 1s ease-out 200ms;
        }
        #third{
            transform: translatex(0px);
            transition: 1s ease-out 300ms;
        }
        #fourth{
            transform: translatex(0px);
            transition: 1s ease-out 400ms;
        }
    }
   
    &__item{
        cursor: pointer;
        color: white;
        font-size: 30px;
        list-style-type: none;
       
        margin: 20px;
        &--active{
            color: darken($primaryColor, 20);
            font-weight: 700;
        }
    }
    &__title{
        color:$secondColor;
        display: block;
        width: 500px;
        margin: auto;
        margin-top: 90px;
        font-size: 45px;
        &--change{
            color: $primaryColor;
            font-weight: 400;
        }
    }
    &__direction{
        position: absolute;
       
        img{
            width: 70%;
            z-index: 1;
            
        }
        &--left{
            bottom: 40%;
            left: 3%;
        }
        &--right{
            bottom: 40%;
            left: 90%;
        }
        
    }
    &__container{
       height: 590px;
    }
    &__main{
        overflow-x: hidden;
        overflow-y: hidden;
        width: 75%;
        margin: auto;
        position:relative;
        z-index: 0;
    }
    &__content{
        margin: auto;
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 100px;
        transition: 1000ms ease-in-out;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto;
        gap: 59px;
    }
    &__element{
        
        width:300px;
        height: 350px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        box-shadow: 0px 24px 24px $colorShadow;
        &-blue{
            background-color:$primaryColor;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            height: 120px;
            position: relative;
        }
    }
    &__profile{
        width: 35%;
        position: absolute;
        display:block;
        margin: auto;
        left: 0;
        right: 0;
        top:70px;
        border: 4px solid white;
        border-radius: 90px;
    }
    &__text-content{
        width: 55%;
        margin: auto;
        margin-top: 70px;
        text-align: center;
        color:$secondColor;
        h3{
            font-weight: 700;
            font-size: 22px;
        }

    }
    button{
        width: 90px;
        height:40px;
        background-color: $primaryColor;
        border: none;
        color: white;
        border-radius: 20px;
        margin-top: 30px;
    }
    &__socialMedia{
        display: grid;
        grid-template-rows:auto auto auto;
        position: relative;
        left: 90%;
        top:20px;
        gap: 10px;
       
        img{
            width: 6%;
        }
    }
    &__point-direction{
        width: 200px;
        height: 30px;
        margin: auto;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        gap: 20px;
        margin-top: -20px;
        
    }
    &__point{
        display: block;
        background-color:lighten($primaryColor, 20);
        width: 40px;
        height: 10px;
        border-radius: 20px;
        &--current{
            background-color: $primaryColor;
        }
    }
    
}